# Sensitive files
encrypted_seed.txt
data/seed.txt

# Docker runtime folders
data/

# Ignore everything in cron EXCEPT required file
cron/*
!cron/
!cron/2fa-cron

# Node dependencies
node_modules/

# Logs
*.log

# Environment files
.env

# IDE/editor
.vscode/
.idea/